#myFooter .footer-copyright {
    background-color: #232F3E;
    margin-top: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}
