<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-sclale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Change Password - YAAN Rides</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{% static 'ico_set/ry-logo/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'ico_set/ry-logo/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="../../static/stylesheet/uaccounts/reg-log.css">
    <style>
         .navbar-default {
    background: #131f3e;;
}
    </style>
</head>
<body>
{% include "useraccounts/base.html" %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Change Password</h5>

              <form method="POST">
                 {% csrf_token %}
                  <div class="form-label-group">


                      {{ form.old_password }}
                      <label for="oldPassword">Old Password</label>
                      {% if form.old_password.errors %}
                                                 {% for error in form.old_password.errors %}
                                                 <div class="text-danger" style="color:red;">
                                                     {{ error }}
                                                 </div>
                                                 {% endfor %}
                                                 {% endif %}
                  </div>
                      <div class="form-label-group">
                      {% if form.new_password1.errors %}
                                                 {% for error in form.new_password1.errors %}
                                                 <div class="text-danger" style="color:red;">
                                                     {{ error }}
                                                 </div>
                                                 {% endfor %}
                                                 {% endif %}
                      {{ form.new_password1 }}
                        <label for="newPassword">New Password</label>
                      </div>
                      <div class="form-label-group">
                          {{ form.new_password2 }}
                          <label for="newconfirmPassword">Confirm New Password</label>

                      {% if form.new_password2.errors %}
                                                 {% for error in form.new_password2.errors %}
                                                 <div class="text-danger" style="color:red;">
                                                     {{ error }}
                                                 </div>
                                                 {% endfor %}
                                                 {% endif %}


              </div>


              <input value="Chane Password" name="" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">

            </form>




          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>