<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-sclale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fleet Master Dashboard - YAAN Rides</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/stylesheet/uaccounts/reg-log.css">
<link rel="shortcut icon" href="{% static 'ico_set/ry-logo/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'ico_set/ry-logo/favicon.ico' %}" type="image/x-icon">
    <style>
            .navbar-default {
    background: #131f3e;;
}
    </style>
</head>
<body>

{% block content %}

            <header class="header7" id="header7">

  {% include "useraccounts/base.html" %}

                <div class="intro center-content">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-5">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h3 class="pull-stop" data-selector="h3" style="">You can Register Yourself Here..!</h3>
                                            <p data-selector="p" style="">Signup now</p>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{ form.email }}
                                            </div>
                                             <div class="form-group">
                                                {{ form.dealer_name }}
                                            </div>
                                             <div class="form-group">
                                                {{ form.phone }}
                                            </div>


                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{ form.password1 }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.password2 }}
                                            </div>
                                             <div class="form-group">
                                                {{ form.dealer_lat }}
                                            </div>
                                             <div class="form-group">
                                                {{ form.dealer_lon }}
                                            </div>

                                            <div class="form-group">
                                                {{ form.opentime }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.closetime }}
                                            </div>
                                            <input type="submit" class="btn btn-info btn-block button" value="Proceed" data-selector="a.btn, button.btn" style="">
                                            <div class="sign-tag"><p data-selector="p" style="">Already Have a Account | <a href="{% url 'useraccounts:login' %}">Log In</a></p></div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div><!-- row -->

                    </div><!-- intro -->

                </div><!-- container -->

            </header><!-- header -->
{% endblock %}
</body>
</html>